# Parse Result Log

In [4]:
import os
import json
from pathlib import Path
import pandas as pd

In [43]:
input_file = Path("model_v42_synth_results.json")

with open(input_file) as f:
    results = json.load(f)

results_df = pd.DataFrame(results)
results_df["accuracy"] = results_df[["start_acc", "end_acc", "operation_acc"]].sum(axis=1)
results_df

,train_test,epoch,loss,start_acc,end_acc,operation_acc,accuracy
0,Train,1,4.052762e+00,66.506765,32.816728,99.384994,198.708487
1,Test,1,1.179028e+01,62.821317,41.818182,79.498433,184.137931
2,Train,2,2.553200e+00,78.573186,68.400984,99.114391,246.088561
3,Test,2,1.282594e+01,63.699060,56.175549,79.498433,199.373041
4,Train,3,1.911158e+00,81.697417,76.396064,98.806888,256.900369
...,...,...,...,...,...,...,...
179,Test,90,1.147855e+14,21.003135,24.200627,79.498433,124.702194
180,Train,91,2.158310e+14,14.526445,10.147601,98.646986,123.321033
181,Test,91,1.172365e+14,25.956113,22.570533,79.498433,128.025078
182,Train,92,2.215577e+14,14.329643,10.209102,98.868389,123.407134
183,Test,92,1.195256e+14,22.006270,31.410658,79.498433,132.915361

In [44]:
train_df = results_df[results_df["train_test"] == "Train"]
train_df_sorted = train_df.sort_values("loss")
train_df_sorted

,train_test,epoch,loss,start_acc,end_acc,operation_acc,accuracy
122,Train,62,3.815095e-01,90.836408,91.832718,99.803198,282.472325
124,Train,63,3.839805e-01,90.455105,91.525215,99.889299,281.869619
128,Train,65,3.926378e-01,90.922509,91.291513,99.815498,282.029520
120,Train,61,3.948586e-01,90.787208,91.623616,99.840098,282.250923
114,Train,58,3.956139e-01,90.688807,91.180812,99.815498,281.685117
...,...,...,...,...,...,...,...
176,Train,89,2.109354e+14,14.378844,10.676507,98.769988,123.825338
178,Train,90,2.133004e+14,14.920049,10.110701,98.782288,123.813038
174,Train,88,2.140179e+14,13.825338,10.110701,98.782288,122.718327
180,Train,91,2.158310e+14,14.526445,10.147601,98.646986,123.321033
182,Train,92,2.215577e+14,14.329643,10.209102,98.868389,123.407134

In [45]:
lowest_train_lost_row = train_df_sorted.iloc[0].name
test_df = results_df[results_df["train_test"] == "Test"]
test_df.loc[lowest_train_lost_row + 1]

train_test          Test
epoch                 62
loss             76.4296
start_acc        64.0125
end_acc          61.7555
operation_acc    80.8777
accuracy         206.646
Name: 123, dtype: object

In [46]:
test_df_sorted = test_df.sort_values("accuracy", ascending=False)
test_df_sorted

,train_test,epoch,loss,start_acc,end_acc,operation_acc,accuracy
105,Test,53,7.329606e+01,64.702194,63.949843,79.937304,208.589342
119,Test,60,9.889385e+01,65.141066,62.445141,79.874608,207.460815
101,Test,51,5.688948e+01,64.137931,63.510972,79.686520,207.335423
111,Test,56,1.061080e+02,65.329154,62.257053,79.749216,207.335423
99,Test,50,4.893622e+01,65.141066,62.257053,79.686520,207.084639
...,...,...,...,...,...,...,...
147,Test,74,2.704390e+13,14.043887,15.673981,79.498433,109.216301
169,Test,85,1.114206e+14,14.733542,13.479624,79.498433,107.711599
155,Test,78,4.471393e+13,13.479624,14.294671,79.498433,107.272727
173,Test,87,1.128110e+14,15.423197,12.037618,79.498433,106.959248
159,Test,80,5.818558e+13,14.608150,12.539185,79.498433,106.645768

In [47]:
test_df_sorted.iloc[0]

train_test          Test
epoch                 53
loss             73.2961
start_acc        64.7022
end_acc          63.9498
operation_acc    79.9373
accuracy         208.589
Name: 105, dtype: object